.App {
  text-align: center;
}

.App .banner {
  padding: 40px;
  font-size: 4rem;
  background-color: black;
  color: white;
  margin-bottom: 40px;
}

.App .Players {
  display: flex;
  flex-wrap: wrap;
  margin:40px auto;
  max-width:650px;
}

.App .ResetButton {
  font-size: 1.5rem;
  border-radius: 6px;
  outline: none;
}
